@{
    ViewData["Title"] = "Coupons Page";
}
@model List<Coupon>
<div class="d-flex justify-content-between p-2 my-2">
    <p>Coupon Clipper</p>
    <div class="d-flex justify-content-between w-25">
        <a asp-action="NewCoupon" asp-asp-controller="Coupon" class="">Add Coupon</a> |
            <a asp-action="OneUser" asp-controller="Coupon"  class="text-info">Account Info</a> |
        <form asp-action="Logout" asp-controller="User" method="post" class="text-danger">
            <button type="submit" class="btn btn-outline-danger">Logout</button>
        </form>
    </div>
</div>
<hr/>
    <h2>Welcome @Context.Session.GetString("UserName")!</h2>
        <div class="d-flex gap-2">
    @foreach (CouponAssociation c in Model)
    {
        <div class="card d-flex flex-column align-items-center p-2">
            <h3 class="text-center">@c.Coupon?.CouponCode</h3>
            <p class="">Use on: @c.Coupon?.Website</p>
            <p>@c.Coupon?.Description</p>
            <p>people have used this</p>
            <p><a asp-action="OneUser" asp-controller="Coupon" asp-route-couponId="@c.Coupon?.CouponId" class="text-decoration-none">Use this Coupon</a></p>
            <p>Posted by: @c.User?.UserName</p>
        </div>
    }
        </div>
