@{
    ViewData["Title"]= "Categories Add Products Page";
}

@model Category
<h1 class="text-center"><a href="/">Product</a> | <a href="/categories">Category</a></h1>
<h3 class="text-center">@Model.Name</h3>
<div class="row align-items-center gap-2">
    <div class="col d-flex flex-column">
        <div class="d-flex flex-column p-4 card text-center">
            <h1 asp.for="@Model.CategoryId"class="text-center"></h1>
                <h3>Products</h3>
            @foreach(Association p in Model.Associations )
            {
                <p> @p.Product.Name</p>
                @* <form asp-action="RemoveProduct" asp-controller="Category"asp-route-categoryId="@Model.CategoryId" method="post">
                    <input hidden value="p.Product.ProductId" />
                    <button type="Submit" class="btn btn-danger">Delete</button>
                </form> *@
            }
        </div>
    </div>
    <div class="col">
        <h3 class="text-center">Add Product</h3>
        <form asp-action="AddProduct" asp-controller="Category"asp-route-categoryId="@Model.CategoryId" method="post">
                <div class="d-flex flex-column gap-4 mb-4">
                        <label for="ProductId" class="form-label "></label>
                        <select name="productId" id="ProductId">
                            <option value="" selected hidden>Please Select a Category</option>
                            @foreach(Product p in ViewBag.unassociatedProds)
                            {
                                <option value="@p.ProductId">@p.Name</option>
                            }
                        </select>
                </div>
                <div class="d-flex flex-row-reverse">
                    <button type="Submit" class="btn btn-success">Add</button>
                </div>
        </form>
    </div>
    
</div>
